<ng-container *ngIf="vm$ | async as vm">
  <div class="container">
    <h2>Buscar Repositórios</h2>

    <app-repos-search-form
      [termoBusca]="vm.termoBusca"
      [carregando]="vm.carregando"
      (termoBuscaChange)="atualizarTermoBusca($event)"
      (buscar)="buscarRepositorios()"
    />

    <p *ngIf="vm.mensagem" class="feedback">{{ vm.mensagem }}</p>
    <p *ngIf="vm.erro" class="feedback error">{{ vm.erro }}</p>

    <app-repos-results-list
      [repositorios]="vm.repositorios"
      [termoPesquisado]="vm.termoPesquisado"
      [paginaAtual]="vm.paginaAtual"
      [totalPaginas]="vm.totalPaginas"
      [carregando]="vm.carregando"
      (paginaChange)="mudarPagina($event)"
    />
  </div>
</ng-container>
